@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/PFAgoraSansPro-Black.woff2") format("woff2"),
    url("../fonts/PFAgoraSansPro-Black.woff") format("woff"),
    url("../fonts/PFAgoraSansPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/PFAgoraSansPro-Bold.woff2") format("woff2"),
    url("../fonts/PFAgoraSansPro-Bold.woff") format("woff"),
    url("../fonts/PFAgoraSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/PFAgoraSansPro-Light.woff2") format("woff2"),
    url("../fonts/PFAgoraSansPro-Light.woff") format("woff"),
    url("../fonts/PFAgoraSansPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PF Agora Sans Pro";
  src: url("../fonts/PFAgoraSansPro-Medium.woff2") format("woff2"),
    url("../fonts/PFAgoraSansPro-Medium.woff") format("woff"),
    url("../fonts/PFAgoraSansPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PF Agora Sans Pro XThin";
  src: url("../fonts/PFAgoraSansPro-XThin.woff2") format("woff2"),
    url("../fonts/PFAgoraSansPro-XThin.woff") format("woff"),
    url("../fonts/PFAgoraSansPro-XThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
